
/* Scss Document */
body {
  font-family: "ÉqÉâÉMÉmäpÉS Pro", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, sans-serif; }

a:hover {
  opacity: 0.8; }

@media screen and (max-width: 500px) {
  img {
    max-width: 100%; } }

.tl {
  text-align: left; }

@media screen and (max-width: 500px) {
  .in {
    width: 93%;
    margin: 0 auto; } }

.sp {
  display: none; }
  @media screen and (max-width: 500px) {
    .sp {
      display: block; } }

header {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto; }
  header #logo {
    margin: 10px 0 10px 80px;
    text-align: left; }
    @media screen and (max-width: 500px) {
      header #logo {
        margin: 10px;
        text-align: left; } }
    @media screen and (max-width: 500px) {
      header #logo img {
        width: 60%; } }

#key {
  background: #0090e8;
  margin-bottom: 30px;
  width: 100%; }
  #key h1 {
    text-align: center; }

article {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }

#first {
  width: 1040px;
  max-width: 93%;
  margin: 0 auto; }
  #first .list_box {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 500px) {
      #first .list_box {
        flex-wrap: wrap;
        justify-content: center; } }
    @media screen and (max-width: 500px) {
      #first .list_box li {
        width: 48%;
        margin-bottom: 10px; } }
    @media screen and (max-width: 500px) {
      #first .list_box li:first-child {
        margin-right: 4%; } }
    #first .list_box li a {
      display: block; }
  #first .btn_area {
    margin-bottom: 40px; }
    @media screen and (max-width: 500px) {
      #first .btn_area {
        margin-bottom: 20px; } }
    #first .btn_area .tl {
      margin: 50px 0 -127px; }
      @media screen and (max-width: 500px) {
        #first .btn_area .tl {
          width: 80%;
          margin: 15px 0 -39px; } }
  #first .recommendation {
    margin-bottom: 60px; }
    @media screen and (max-width: 500px) {
      #first .recommendation {
        margin-bottom: 40px; } }

#box_01 .txt_01 {
  font-size: 13px;
  line-height: 1.5;
  color: #6f6f6f;
  margin: 8px auto 45px;
  width: 743px;
  max-width: 100%;
  text-align: left; }
  @media screen and (max-width: 500px) {
    #box_01 .txt_01 {
      margin-bottom: 25px; } }
@media screen and (max-width: 500px) {
  #box_01 .txt_02 {
    width: 60%;
    margin: 0 auto; } }
@media screen and (max-width: 500px) {
  #box_01 .txt_03 {
    width: 90%;
    margin: 0 auto 15px; } }
#box_01 .btn_01 {
  margin: -55px 0 50px; }
  @media screen and (max-width: 500px) {
    #box_01 .btn_01 {
      margin: -18px 0 10px; } }

@media screen and (max-width: 500px) {
  #box_02 .txt_01 {
    width: 70%;
    margin: 0 auto; } }
#box_02 .chart {
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 500px) {
    #box_02 .chart {
      display: block; } }
  #box_02 .chart dl {
    width: 420px;
    margin: 0 20px; }
    @media screen and (max-width: 500px) {
      #box_02 .chart dl {
        width: 100%;
        margin: 10px 0 20px; } }
  #box_02 .chart dd p img {
    height: 64px; }
    @media screen and (max-width: 500px) {
      #box_02 .chart dd p img {
        height: 15vw; } }
  @media screen and (max-width: 500px) {
    #box_02 .chart dd .img_01 {
      width: 85%; } }
#box_02 .box_01 {
  width: 880px;
  max-width: 100%;
  margin: 0 auto; }
  #box_02 .box_01 .in {
    border: 1px solid #d6d6d6;
    box-sizing: border-box;
    padding: 15px 30px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
    text-align: left;
    width: 700px;
    max-width: 100%;
    margin-top: 20px; }
#box_02 .btn_area {
  width: 1040px;
  max-width: 100%;
  margin: 40px auto 0; }
  @media screen and (max-width: 500px) {
    #box_02 .btn_area .tl {
      width: 72%; } }
  #box_02 .btn_area .btn_01 {
    margin-top: -136px; }
    @media screen and (max-width: 500px) {
      #box_02 .btn_area .btn_01 {
        margin-top: -50px; } }

@media screen and (max-width: 500px) {
  #box_03 h3 {
    width: 70%;
    margin: 0 auto; } }
#box_03 .btn_area {
  width: 1040px;
  max-width: 100%;
  margin: 55px auto 0; }
  @media screen and (max-width: 500px) {
    #box_03 .btn_area {
      margin-top: 25px; } }
  #box_03 .btn_area .tl {
    width: 72%; }
  #box_03 .btn_area .btn_01 {
    margin-top: -135px; }
    @media screen and (max-width: 500px) {
      #box_03 .btn_area .btn_01 {
        margin-top: -50px; } }

#box_04 {
  position: relative;
  padding-bottom: 310px; }
  @media screen and (max-width: 500px) {
    #box_04 {
      padding-bottom: 0; } }
  #box_04 .title {
    background: #0090e8;
    padding: 45px 0 35px; }
    @media screen and (max-width: 500px) {
      #box_04 .title {
        padding: 15px 0 10px; } }
    @media screen and (max-width: 500px) {
      #box_04 .title h2 {
        width: 70%;
        margin: 0 auto; } }
    #box_04 .title p {
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.6;
      margin-top: 18px; }
      @media screen and (max-width: 500px) {
        #box_04 .title p {
          font-size: 14px; } }
  #box_04 .txt_01 {
    margin-top: 18px; }
    @media screen and (max-width: 500px) {
      #box_04 .txt_01 {
        width: 80%;
        margin: 10px auto 0; } }
  #box_04 .txt_02 {
    margin-top: 25px; }
    @media screen and (max-width: 500px) {
      #box_04 .txt_02 {
        width: 70%;
        margin: 25px auto 0; } }
  #box_04 .txt_03 {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2; }
    @media screen and (max-width: 500px) {
      #box_04 .txt_03 {
        position: static;
        transform: none;
        width: 100%;
        margin: 25px auto 0; } }
  #box_04 .btn_01 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0); }
    @media screen and (max-width: 500px) {
      #box_04 .btn_01 {
        position: static;
        transform: none; } }

#box_05 {
  margin-top: 53px; }
  @media screen and (max-width: 500px) {
    #box_05 {
      margin-top: 25px; } }
  #box_05 .title {
    background: #0090e8;
    padding: 0 0 25px;
    margin-bottom: 50px; }
    @media screen and (max-width: 500px) {
      #box_05 .title {
        padding: 0 0 15px;
        margin-bottom: 20px; } }
    @media screen and (max-width: 500px) {
      #box_05 .title h2 {
        width: 58%;
        margin: 0 auto; } }
    #box_05 .title img {
      margin-top: -6px; }
    #box_05 .title p {
      color: #fff;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.6;
      margin-top: 18px; }
      @media screen and (max-width: 500px) {
        #box_05 .title p {
          font-size: 14px;
          margin-top: 18px; } }
  #box_05 .txt_01 {
    width: 1040px;
    max-width: 100%;
    margin: 10px auto 50px;
    font-size: 13px;
    line-height: 1.5;
    color: #6f6f6f;
    text-align: left; }
    @media screen and (max-width: 500px) {
      #box_05 .txt_01 {
        margin: 10px auto 20px; } }
  #box_05 .txt_02 {
    width: 1040px;
    max-width: 100%;
    margin: 25px auto 0; }
    @media screen and (max-width: 500px) {
      #box_05 .txt_02 {
        margin: 15px auto 10px; } }
    #box_05 .txt_02 dt {
      margin: 0 0 15px;
      font-size: 15px;
      text-align: left;
      font-weight: normal; }
      @media screen and (max-width: 500px) {
        #box_05 .txt_02 dt {
          margin: 0 0 10px;
          font-size: 80%; } }
  @media screen and (max-width: 500px) {
    #box_05 .txt_03 {
      width: 80%;
      margin: 0 auto; } }
  @media screen and (max-width: 500px) {
    #box_05 h3 {
      width: 70%;
      margin: 0 auto; } }
  #box_05 .btn_area {
    width: 1040px;
    max-width: 100%;
    margin: 60px auto 50px; }
    @media screen and (max-width: 500px) {
      #box_05 .btn_area {
        margin: 20px auto 5px; } }
    #box_05 .btn_area .tl {
      margin-bottom: -136px; }
      @media screen and (max-width: 500px) {
        #box_05 .btn_area .tl {
          margin: 0;
          width: 70%; } }
    @media screen and (max-width: 500px) {
      #box_05 .btn_area .btn_01 {
        margin-top: -50px; } }

section {
  margin-bottom: 60px; }
  @media screen and (max-width: 500px) {
    section {
      margin-bottom: 40px; } }

#lisk {
  margin-top: 55px; }
  @media screen and (max-width: 1200px) {
    #lisk {
      margin-right: 2.5%;
      margin-left: 2.5%; } }
  @media screen and (max-width: 500px) {
    #lisk {
      margin-right: 3.5%;
      margin-left: 3.5%;
      margin-top: 30px; } }
  #lisk dt {
    margin-bottom: 10px;
    font-weight: normal; }
  #lisk dt, #lisk dd {
    line-height: 1.8;
    color: #6f6f6f;
    font-size: 14px;
    text-align: left; }

footer {
  text-align: center; }
  @media screen and (max-width: 500px) {
    footer {
      width: 93%;
      margin: 20px auto 0; } }
  @media screen and (max-width: 500px) {
    footer img {
      width: 20%; } }
  footer p.company {
    font-size: 14px;
    line-height: 1.8;
    margin: 40px 0; }
    @media screen and (max-width: 500px) {
      footer p.company {
        margin: 20px auto; } }
  footer .copyright {
    color: #999;
    font-size: 12px;
    font-style: italic;
    margin: 0; }

#cautionsArea {
  position: fixed;
  left: 0;
  top: 0;
  background: url("../image/bgCautionsArea.png") 0 0;
  width: 100%;
  height: 100%;
  z-index: 100; }

#cautionsAreaMain {
  position: fixed;
  left: 50%;
  width: 770px;
  max-width: 100%;
  transform: translate(-50%, 0);
  z-index: 101;
  background: #fff;
  top: 50%;
  border: 5px solid #ccc;
  padding: 25px 35px 35px; }
  @media screen and (max-width: 500px) {
    #cautionsAreaMain {
      background: #fff none repeat scroll 0 0;
      border: 5px solid #ccc;
      padding: 10px;
      position: fixed;
      top: 50%;
      width: 80%;
      z-index: 101; } }

#cautionsAreaMain p {
  font-size: 18px;
  font-weight: bold;
  line-height: 180%;
  margin-top: 10px;
  text-align: left; }
  @media screen and (max-width: 500px) {
    #cautionsAreaMain p {
      font-size: 16px; } }

#cautionsAreaClose {
  position: absolute;
  right: -25px;
  top: -25px;
  z-index: 102;
  cursor: pointer; }
  @media screen and (max-width: 500px) {
    #cautionsAreaClose {
      right: -16px; } }
