:root {
    --space-lv1: 8px;
    --space-lv2: calc(var(--space-lv1) * 2);
    --space-lv3: calc(var(--space-lv1) * 3);
    --space-lv4: calc(var(--space-lv1) * 4);
    --space-lv5: calc(var(--space-lv1) * 5);
    --space-lv6: calc(var(--space-lv1) * 6);
    --color-white: #fff;
    --color-main: #092987;
    --color-sub: #005fcc;
    --color-text-main: #18181a;
    --color-text-sub: #676b74;
    --color-background: #f5f6f7;
    --color-background-pale: #e5effa;
    --color-background-table: #e6e8f0;
    --color-background-dark: #676b74;
    --color-border: #e6e8f0;
    --color-border-table: #a7b1c3;
    --font-family: "Hiragino Kaku Gothic ProN", sans-serif;
    --font-family-latin: roboto, sans-serif
}

img {
    pointer-events: none
}

*, :before, :after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    margin: 0
}

main {
    display: block
}

p, table, blockquote, address, pre, iframe, form, figure, dl, h1, h2, h3, h4, h5, h6 {
    margin: 0
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}

dd {
    margin-left: 0
}

hr {
    height: 0;
    clear: both;
    color: inherit;
    box-sizing: content-box;
    border-top-width: 1px;
    margin: 0;
    overflow: visible
}

pre {
    font-family: monospace;
    font-size: inherit
}

address {
    font-style: inherit
}

a {
    color: inherit;
    background-color: #0000;
    text-decoration: none
}

abbr[title] {
    text-decoration: underline
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace;
    font-size: inherit
}

small {
    font-size: 80%
}

sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img, embed, object, iframe {
    vertical-align: bottom
}

button, input, optgroup, select, textarea {
    font: inherit;
    color: inherit;
    text-align: inherit;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border-radius: 0;
    outline: 0;
    margin: 0;
    padding: 0
}

[type=checkbox] {
    -webkit-appearance: checkbox;
    appearance: checkbox
}

[type=radio] {
    -webkit-appearance: radio;
    appearance: radio
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

button, [type=button], [type=reset], [type=submit] {
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none
}

button[disabled], [type=button][disabled], [type=reset][disabled], [type=submit][disabled] {
    cursor: default
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

select::-ms-expand {
    display: none
}

option {
    padding: 0
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0
}

legend {
    max-width: 100%;
    color: inherit;
    white-space: normal;
    padding: 0;
    display: table
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

label[for] {
    cursor: pointer
}

details {
    display: block
}

summary {
    display: list-item
}

[contenteditable] {
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption {
    text-align: left
}

td, th {
    vertical-align: top;
    padding: 0
}

th {
    text-align: left;
    font-weight: 700
}

template, [hidden] {
    display: none
}

html, body {
    font-family: Hiragino Kaku Gothic ProN, sans-serif;
    font-family: var(--font-family);
    color: #18181a;
    color: var(--color-text-main);
    margin: 0;
    padding: 0
}

a {
    color: inherit;
    text-decoration: none
}

* {
    box-sizing: border-box
}

#portal-container {
    z-index: 999;
    position: relative
}

.slick-list {
    margin: 0;
    display: block;
    position: relative;
    overflow: hidden
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track, .slick-slider .slick-list {
    transform: translate(0, 0)
}

.slick-track {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 0;
    left: 0
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    float: left;
    min-height: 1px;
    height: 100%;
    text-align: center;
    display: none
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    height: auto;
    border: 1px solid #0000;
    display: block
}

.slick-arrow.slick-hidden {
    display: none !important
}

.sliderBannerLink {
    margin: 0 8px;
    margin: 0 var(--space-lv1);
    border-radius: 8px;
    display: block;
    position: relative;
    overflow: hidden
}

@media screen and (max-width: 320px) {
    .sliderBannerLink {
        margin: 0 4px
    }
}

.slider {
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    touch-action: pan-y;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;
    position: relative
}

@media screen and (min-width: 769px) {
    .slider > .slick-list {
        margin: 0 8px;
        margin: 0 var(--space-lv1);
        padding: 0 78px
    }
}

.slider .slick-slide {
    width: 100%;
    max-width: 294px
}

@media screen and (min-width: 769px) {
    .slider .slick-slide {
        max-width: 488px
    }
}

@media screen and (max-width: 320px) {
    .slider .slick-slide {
        max-width: 280px
    }
}

.sliderPrev, .sliderNext {
    width: 24px;
    height: 24px;
    max-width: 24px;
    color: #fff;
    cursor: pointer;
    background-color: #092987;
    background-color: var(--color-main);
    border: none;
    border-radius: 24px;
    outline: none;
    flex: 0 0 32px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    transition: opacity .2s ease-out;
    position: relative
}

@media screen and (min-width: 769px) {
    .sliderPrev, .sliderNext {
        display: block
    }
}

@media screen and (max-width: 769px) {
    .sliderPrev, .sliderNext {
        display: none !important
    }
}

.sliderPrev:hover, .sliderNext:hover {
    opacity: .8
}

.sliderPrev .sliderArrowIcon, .sliderNext .sliderArrowIcon {
    width: 24px;
    height: 24px;
    color: var(--color-icon);
    position: absolute;
    top: 0
}

.sliderPrev .sliderArrowIcon {
    left: -2px
}

.sliderNext .sliderArrowIcon {
    left: -4px
}

.sliderPrev.slick-disabled, .sliderNext.slick-disabled {
    cursor: initial;
    opacity: .3
}

.top4 {
    margin-top: 4px
}

.top8 {
    margin-top: 8px;
    margin-top: var(--space-lv1)
}

.top16 {
    margin-top: 16px;
    margin-top: var(--space-lv2)
}

.top24 {
    margin-top: 24px;
    margin-top: var(--space-lv3)
}

.top32 {
    margin-top: 32px;
    margin-top: var(--space-lv4)
}

.top40 {
    margin-top: 40px;
    margin-top: var(--space-lv5)
}

.left8 {
    margin-left: 8px;
    margin-left: var(--space-lv1)
}

.bottom16 {
    margin-bottom: 16px;
    margin-bottom: var(--space-lv2)
}

.header {
    z-index: 2;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and (min-width: 1025px) {
    .header {
        background-color: #f5f6f7;
        background-color: var(--color-background)
    }
}

.header__container {
    width: 100%;
    height: 50px;
    padding: 5px 48px 5px 16px;
    padding: 5px var(--space-lv6) 5px var(--space-lv2);
    display: flex;
    position: relative
}

@media screen and (min-width: 1025px) {
    .header__container {
        width: 84.375%;
        height: 64px;
        max-width: 1080px;
        padding: 8px 0;
        padding: var(--space-lv1) 0;
        margin: auto
    }
}

.header__logo {
    width: 79px;
    height: 16px;
    position: relative
}

.header__logo > svg, .header__logoSbi > svg {
    width: 100%;
    height: 100%;
    display: block
}

@media screen and (min-width: 1025px) {
    .header__logo {
        width: 111px;
        height: 22px
    }
}

.header__logoSbi {
    width: 84px;
    height: 14px;
    margin-left: 16px;
    margin-left: var(--space-lv2);
    display: block
}

.header__button {
    color: #fff;
    background-color: #e5004c;
    border-radius: 4px;
    align-items: center;
    margin-left: auto;
    padding: 11px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    display: flex;
    box-shadow: 0 1px 3px #02113b33
}

@media screen and (min-width: 1025px) {
    .header__button {
        padding: 15px 18px
    }
}

.header__button:hover {
    opacity: .6
}

.header__logoIcon {
    width: 16px;
    height: 16px;
    color: #e5004c;
    background: #fff;
    border-radius: 16px;
    margin-left: 4px;
    display: block
}

.header__logoIcon > svg {
    width: 100%;
    height: 100%
}

.header__hamburger {
    width: 24px;
    height: 24px;
    color: #092987;
    color: var(--color-main);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%)
}

.js-closeIcon {
    display: none
}

.js-closeIcon.is-active, .js-menuIcon {
    display: block
}

.js-menuIcon.is-close {
    display: none
}

.header__pcNav {
    background-color: #fff
}

@media screen and (min-width: 1025px) {
    .header__pcNavContainer {
        width: 84.375%;
        max-width: 1080px;
        margin: auto
    }
}

.header__externalLink {
    padding: 24px 0;
    padding: var(--space-lv3) 0;
    color: #092987;
    color: var(--color-main);
    border-bottom: 1px solid #e6e8f0;
    border-bottom: 1px solid var(--color-border);
    justify-content: left;
    align-items: center;
    font-weight: 700;
    line-height: 21px;
    display: flex
}

.header__externalLinkIcon {
    width: 16px;
    height: 16px;
    color: #092987;
    color: var(--color-main);
    margin-left: 4px;
    display: block
}

.header__externalLinkIcon > svg {
    width: 100%;
    height: 100%
}

.header__nav {
    width: 100%;
    height: 100vh;
    padding: 0 16px;
    padding: 0 var(--space-lv2);
    background-color: #f5f6f7;
    background-color: var(--color-background);
    flex-direction: column;
    display: flex;
    position: absolute
}

.header__navSp {
    display: none
}

.header__navSp.is-active {
    display: block
}

@media screen and (min-width: 1025px) {
    .header__nav {
        height: 100%;
        max-width: 1080px;
        background-color: #fff;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        position: static
    }
}

.header__link {
    padding: 24px 0;
    padding: var(--space-lv3) 0;
    color: #092987;
    color: var(--color-main);
    border-bottom: 1px solid #e6e8f0;
    border-bottom: 1px solid var(--color-border);
    font-weight: 700;
    line-height: 21px;
    display: block
}

@media screen and (min-width: 1025px) {
    .header__link {
        border-bottom: none;
        padding: 19px 0 17px;
        font-size: 14px;
        font-weight: 400
    }

    .header__link.is-active {
        border-bottom: 2px solid #092987;
        border-bottom: 2px solid var(--color-main)
    }

    .header__link:not(.active):hover {
        opacity: .6
    }
}

.footer__conversion {
    border-top: 4px solid #005fcc;
    border-top: 4px solid var(--color-sub);
    padding: 72px 37.5px
}

.footer__conversionItem {
    max-height: 130px
}

.footer__conversionText {
    color: #18181a;
    color: var(--color-text-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 21px
}

@media screen and (min-width: 769px) {
    .footer__conversionText {
        min-height: 42px;
        align-items: center;
        display: flex
    }
}

.footer__conversionBlueBtn, .footer__conversionRedBtn {
    height: 72px;
    width: 300px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 21px
}

.footer__conversionBlueBtn {
    background: #092987;
    background: var(--color-main)
}

.footer__conversionRedBtn {
    background: #e5004c
}

.footer__conversionBlueBtn:before, .footer__conversionRedBtn:before {
    content: "無料";
    width: 40px;
    height: 23px;
    margin-right: 8px;
    margin-right: var(--space-lv1);
    background: #fcec2c;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    display: flex
}

.footer__conversionBlueBtn:before {
    color: #092987;
    color: var(--color-main)
}

.footer__conversionRedBtn:before {
    color: #e5004c
}

.footer__disclaimerContainer {
    padding: 32px 16px 0;
    padding: var(--space-lv4) var(--space-lv2) 0
}

@media screen and (min-width: 769px) {
    .footer__disclaimerContainer {
        padding: 64px 0 0
    }
}

.footer__termsContainer {
    padding: 8px 0 32px;
    padding: var(--space-lv1) 0 var(--space-lv4)
}

@media screen and (min-width: 769px) {
    .footer__termsContainer {
        padding: 8px 0 64px;
        padding: var(--space-lv1) 0 64px
    }
}

.footer__term {
    border-bottom: 1px solid #a7b1c3;
    border-bottom: 1px solid var(--color-border-table);
    display: flex
}

.footer__term:first-child {
    border-top: 1px solid #a7b1c3;
    border-top: 1px solid var(--color-border-table)
}

.footer__term > dt, .footer__term > dd {
    padding: 24px;
    padding: var(--space-lv3)
}

.footer__term > dt {
    min-width: 120px;
    width: 34px;
    background-color: #e6e8f0;
    background-color: var(--color-background-table)
}

@media screen and (min-width: 769px) {
    .footer__term > dt {
        min-width: 358px;
        align-items: center;
        display: flex
    }
}

.footer__termText {
    padding: 0 16px;
    padding: 0 var(--space-lv2)
}

@media screen and (min-width: 769px) {
    .footer__termText {
        padding: 0
    }
}

.footer__footerContainer {
    padding: 24px 16px;
    padding: var(--space-lv3) var(--space-lv2)
}

@media screen and (min-width: 1025px) {
    .footer__footerContainer {
        padding: 32px 16px;
        padding: var(--space-lv4) var(--space-lv2)
    }
}

.footer__footerContainer + .footer__footerContainer {
    border-top: 1px solid #e6e8f0;
    border-top: 1px solid var(--color-border);
    padding: 24px 16px 8px;
    padding: var(--space-lv3) var(--space-lv2) var(--space-lv1)
}

@media screen and (min-width: 1025px) {
    .footer__footerContainer + .footer__footerContainer {
        padding: 32px 16px 16px;
        padding: var(--space-lv4) var(--space-lv2) var(--space-lv2)
    }
}

.footer__links {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 4px;
    display: flex
}

@media screen and (min-width: 1025px) {
    .footer__links {
        width: 864px;
        flex-direction: row;
        justify-content: space-between;
        margin: 4px auto 0
    }
}

.footer__heading {
    flex-basis: 100%
}

@media screen and (min-width: 1025px) {
    .footer__heading {
        width: 864px;
        margin: auto
    }
}

.footer__link {
    color: #676b74;
    color: var(--color-text-sub);
    word-break: keep-all;
    text-decoration: underline;
    display: inline-block
}

.footer__link + .footer__link {
    margin-top: 8px;
    margin-top: var(--space-lv1)
}

@media screen and (min-width: 1025px) {
    .footer__link + .footer__link {
        margin-top: 0
    }
}

.footer__externals {
    flex-flow: wrap;
    justify-content: space-between;
    margin-right: 12px;
    display: flex
}

@media screen and (min-width: 769px) {
    .footer__externals {
        justify-content: center;
        margin-right: 0
    }
}

.footer__externalLink {
    align-items: center;
    margin-bottom: 18px;
    margin-left: 12px;
    text-decoration: underline;
    display: flex
}

@media screen and (min-width: 769px) {
    .footer__externalLink {
        margin-bottom: 0
    }

    .footer__externalLink:first-child {
        margin-left: 0
    }

    .footer__externalLink + .footer__externalLink {
        margin-left: 18px
    }
}

.footer__icon {
    width: 14px;
    height: 14px;
    display: inline-block
}

@media screen and (min-width: 769px) {
    .footer__icon {
        margin-left: 4px
    }
}

.footer__icon > svg {
    width: 100%;
    height: 100%;
    color: #092987;
    color: var(--color-main)
}

.footer__companyName, .footer__copyright {
    text-align: center;
    font-size: 10px;
    line-height: 14px
}

.footer__companyName {
    margin-top: 6px
}

@media screen and (min-width: 769px) {
    .footer__companyName {
        margin-top: 32px;
        margin-top: var(--space-lv4);
        line-height: 16px
    }
}

.footer__copyright {
    margin-top: 24px;
    margin-top: var(--space-lv3);
    font-weight: 700
}

@media screen and (min-width: 769px) {
    .footer__copyright {
        margin-top: 16px;
        margin-top: var(--space-lv2)
    }
}

.footer__circle {
    width: 32px;
    height: 32px;
    margin: 16px;
    margin: var(--space-lv2);
    cursor: pointer;
    visibility: hidden;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: bottom .3s, visibility .3s;
    display: inline-flex;
    position: fixed;
    bottom: -5%;
    right: max(0px, 50vw - 640px);
    box-shadow: 0 2px 6px #0000001a
}

.footer__circle.is-Visible {
    visibility: visible;
    bottom: 0
}

.footer__break:after {
    white-space: pre-wrap;
    content: "\a "
}

@media screen and (min-width: 769px) {
    .footer__break:after {
        display: none
    }
}

.card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px #0000001a
}

.text.latin {
    font-family: roboto, sans-serif;
    font-family: var(--font-family-latin)
}

.text.size-main {
    font-size: 14px;
    line-height: 21px
}

.text.size-sub {
    font-size: 12px;
    line-height: 18px
}

.text.size-h1 {
    font-size: 24px;
    line-height: 32px
}

.text.size-h2 {
    font-size: 20px;
    line-height: 30px
}

.text.size-40 {
    font-size: 40px;
    line-height: 21px
}

.text.size-16 {
    font-size: 16px;
    line-height: 21px
}

.text.weight-bold {
    font-weight: 600
}

.text.color-white {
    color: #fff
}

.text.color-main {
    color: #092987;
    color: var(--color-main)
}

.text.color-sub {
    color: #005fcc;
    color: var(--color-sub)
}

.text.color-text-sub {
    color: #676b74;
    color: var(--color-text-sub)
}

.text.align-center {
    text-align: center
}

.text.align-left {
    text-align: left
}

@media screen and (min-width: 769px) {
    .text.align-pc-center {
        text-align: center
    }
}

.text.nowrap {
    white-space: nowrap
}

.text.decoration-underline {
    text-decoration: underline
}

.box.round {
    border-radius: 8px
}

.box.color-blue {
    background-color: #005fcc1a
}

.box.color-white {
    background-color: #fff;
    background-color: var(--color-white)
}

.box.color-main {
    background-color: #092987;
    background-color: var(--color-main)
}

.box.color-sub {
    background-color: #005fcc;
    background-color: var(--color-sub)
}

.box.color-gray {
    background-color: #9198a6
}

.box.color-pale {
    background-color: #f0f4f7
}

.box.color-background {
    background-color: #f5f6f7;
    background-color: var(--color-background)
}

.box.color-background-table {
    background-color: #e6e8f0;
    background-color: var(--color-background-table)
}

.box.border-top {
    border-top: 1px solid #d9dce1
}

.container {
    width: 100%
}

.container.center {
    margin: 0 auto
}

@media screen and (min-width: 769px) {
    .container.narrow {
        width: 84.375%;
        max-width: 1080px;
        padding-left: 0;
        padding-right: 0
    }
}

.img {
    width: 100%
}

.youtubeImg {
    width: 100%;
    height: 100%
}

.img.max-content {
    max-width: -webkit-max-content;
    max-width: -webkit-max-content;
    max-width: max-content
}

.unordered-list > li {
    padding-left: 1em;
    position: relative
}

.unordered-list > li:before {
    content: "・";
    position: absolute;
    top: 0;
    left: 0
}

.divider {
    width: 32px;
    border: 2px solid #ffffff80;
    border-radius: 2px
}

.kv {
    padding-top: 117.315%;
    position: relative
}

.kv > video, .kv > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.kv > img {
    background-image: url(../image/kv_230331.jpg);
    background-position: 0 0;
    background-size: 100%;
    display: block
}

@media screen and (min-width: 769px) {
    .kv {
        padding-top: 37.5%
    }

    .kv > img {
        background-image: url(../image/kv_pc_230331.jpg)
    }
}

.button {
    padding: 16px;
    padding: var(--space-lv2);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: inline-flex
}

.button:hover {
    opacity: .6
}

.button.main {
    color: #092987;
    color: var(--color-main);
    border: 1px solid #092987;
    border: 1px solid var(--color-main);
    background-color: #fff
}

.button.sub {
    color: #fff;
    background-color: #092987;
    background-color: var(--color-main)
}

.button.invert {
    color: #fff;
    background-color: #0000;
    border: 1px solid #fff
}

.button.full {
    width: 100%
}

.button.s {
    height: 40px;
    font-size: 12px;
    line-height: 9px
}

.button.m {
    height: 48px;
    font-size: 16px;
    line-height: 16px
}

.button.l {
    height: 56px;
    font-size: 16px;
    line-height: 26px
}

.button.shadow {
    box-shadow: 0 1px 3px #02113b33
}

.button.hasContents {
    height: 56px
}

.button.contents {
    text-align: center;
    line-height: 16px
}

@media screen and (min-width: 769px) {
    .button.hasContents {
        height: 40px
    }

    .button.contents {
        white-space: nowrap
    }
}

.button.disabled {
    color: #fff;
    pointer-events: none;
    cursor: default;
    background: #c2c2c2;
    border: none
}

.hairline {
    color: #a7b1c3;
    color: var(--color-border-table)
}

.hairline.color-border {
    color: #e6e8f0;
    color: var(--color-border)
}

.stack, .vstack, .hstack {
    display: flex
}

.stack, .vstack {
    flex-direction: column
}

.hstack {
    flex-direction: row
}

.stack.align-center, .vstack.align-center, .hstack.align-center {
    align-items: center
}

.stack.justify-center, .vstack.justify-center, .hstack.justify-center {
    justify-content: center
}

.align-self-center {
    align-self: center
}

.no-shrink {
    flex-shrink: 0
}

.gap-xxs {
    gap: 4px
}

.gap-xs {
    gap: 8px;
    gap: var(--space-lv1)
}

.gap-s {
    gap: 16px;
    gap: var(--space-lv2)
}

.gap-m {
    gap: 24px;
    gap: var(--space-lv3)
}

.gap-l {
    gap: 32px;
    gap: var(--space-lv4)
}

.gap-xl {
    gap: 40px;
    gap: var(--space-lv5)
}

.gap-1rem {
    gap: 1rem
}

@media screen and (min-width: 769px) {
    .stack {
        flex-direction: row
    }

    .stack.align-pc-center, .vstack.align-pc-center, .hstack.align-pc-center {
        align-items: center
    }

    .gap-pc-xs {
        gap: 8px;
        gap: var(--space-lv1)
    }

    .gap-pc-s {
        gap: 16px;
        gap: var(--space-lv2)
    }

    .gap-pc-m {
        gap: 24px;
        gap: var(--space-lv3)
    }

    .gap-pc-l {
        gap: 32px;
        gap: var(--space-lv4)
    }

    .gap-pc-xl {
        gap: 40px;
        gap: var(--space-lv5)
    }

    .gap-pc-64 {
        gap: 64px
    }
}

.pt-xs {
    padding-top: 8px;
    padding-top: var(--space-lv1)
}

.pt-s {
    padding-top: 16px;
    padding-top: var(--space-lv2)
}

.pt-m {
    padding-top: 24px;
    padding-top: var(--space-lv3)
}

.pt-l {
    padding-top: 32px;
    padding-top: var(--space-lv4)
}

.pt-xl {
    padding-top: 40px;
    padding-top: var(--space-lv5)
}

.pt-56 {
    padding-top: 56px
}

.pb-xs {
    padding-bottom: 8px;
    padding-bottom: var(--space-lv1)
}

.pb-s {
    padding-bottom: 16px;
    padding-bottom: var(--space-lv2)
}

.pb-m {
    padding-bottom: 24px;
    padding-bottom: var(--space-lv3)
}

.pb-l {
    padding-bottom: 32px;
    padding-bottom: var(--space-lv4)
}

.pb-xl {
    padding-bottom: 40px;
    padding-bottom: var(--space-lv5)
}

.pl-1em {
    padding-left: 1em
}

.pl-xs {
    padding-left: 8px;
    padding-left: var(--space-lv1)
}

.pl-s {
    padding-left: 16px;
    padding-left: var(--space-lv2)
}

.pl-m {
    padding-left: 24px;
    padding-left: var(--space-lv3)
}

.pl-l {
    padding-left: 32px;
    padding-left: var(--space-lv4)
}

.pl-xl {
    padding-left: 40px;
    padding-left: var(--space-lv5)
}

.pr-xs {
    padding-right: 8px;
    padding-right: var(--space-lv1)
}

.pr-s {
    padding-right: 16px;
    padding-right: var(--space-lv2)
}

.pr-m {
    padding-right: 24px;
    padding-right: var(--space-lv3)
}

.pr-l {
    padding-right: 32px;
    padding-right: var(--space-lv4)
}

.pr-xl {
    padding-right: 40px;
    padding-right: var(--space-lv5)
}

@media screen and (min-width: 769px) {
    .pt-pc-0 {
        padding-top: 0
    }

    .pt-pc-64 {
        padding-top: 64px
    }

    .pt-pc-m {
        padding-top: 24px;
        padding-top: var(--space-lv3)
    }

    .pt-pc-l {
        padding-top: 32px;
        padding-top: var(--space-lv4)
    }

    .pt-pc-xl {
        padding-top: 40px;
        padding-top: var(--space-lv5)
    }

    .pb-pc-64 {
        padding-bottom: 64px
    }

    .pb-pc-m {
        padding-bottom: 24px;
        padding-bottom: var(--space-lv3)
    }

    .pb-pc-xl {
        padding-bottom: 40px;
        padding-bottom: var(--space-lv5)
    }

    .pl-pc-0 {
        padding-left: 0
    }

    .pl-pc-1rem {
        padding-left: 1rem
    }

    .pl-pc-s {
        padding-left: 16px;
        padding-left: var(--space-lv2)
    }

    .pl-pc-l {
        padding-left: 32px;
        padding-left: var(--space-lv4)
    }

    .pl-pc-xl {
        padding-left: 40px;
        padding-left: var(--space-lv5)
    }

    .pl-pc-64 {
        padding-left: 64px
    }

    .pr-pc-0 {
        padding-right: 0
    }

    .pr-pc-l {
        padding-right: 32px;
        padding-right: var(--space-lv4)
    }

    .pr-pc-xl {
        padding-right: 40px;
        padding-right: var(--space-lv5)
    }
}

.overTabletOnly {
    display: none
}

@media screen and (min-width: 1025px) {
    .overTabletOnly {
        display: block
    }
}

.underTabletOnly {
    display: block
}

@media screen and (min-width: 1025px) {
    .underTabletOnly {
        display: none
    }
}

.mobileOnly {
    display: block
}

@media screen and (min-width: 769px) {
    .mobileOnly {
        display: none
    }
}

.pcOnly {
    display: none
}

@media screen and (min-width: 769px) {
    .pcOnly {
        display: block
    }
}

.annotation {
    color: #676b74;
    color: var(--color-text-sub);
    font-size: 12px;
    line-height: 18px
}

.flex {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex
}

.row {
    flex-direction: row
}

.row.start {
    justify-content: flex-start;
    align-items: flex-start
}

.column {
    flex-direction: column
}

.column.start {
    align-items: flex-start
}

.center {
    justify-content: center
}

.responsiveFlex {
    flex-direction: column;
    display: flex
}

@media screen and (min-width: 769px) {
    .responsiveFlex {
        flex-direction: row
    }
}

.pageContainer {
    border-bottom: 1px solid #e6e8f0;
    border-bottom: 1px solid var(--color-border);
    margin-top: 50px
}

@media screen and (min-width: 1025px) {
    .pageContainer {
        margin-top: 123px
    }
}

.pageContainerHeading {
    color: #092987;
    color: var(--color-main);
    text-align: center;
    background-color: #e5effa;
    background-color: var(--color-background-pale);
    padding: 35px 0 33px;
    font-size: 24px;
    line-height: 32px
}

.pageContainerHeading.pageContainerMultiple {
    padding: 19px 0 17px
}

@media screen and (min-width: 769px) {
    .pageContainerHeading, .pageContainerHeading.pageContainerMultiple {
        padding: 55px 0 53px
    }
}

.sectionComponent {
    border: 1px solid #0000;
    position: relative
}

.sectionComponent:nth-child(2n+1) {
    background-color: #fff
}

.sectionComponent:nth-child(2n) {
    background-color: #f5f6f7;
    background-color: var(--color-background)
}

.sectionComponentHeading {
    padding: 0 16px;
    padding: 0 var(--space-lv2);
    margin-top: 40px;
    margin-top: var(--space-lv5);
    color: #092987;
    color: var(--color-main);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px
}

@media screen and (min-width: 769px) {
    .sectionComponentHeading {
        margin-top: 64px
    }
}

.sectionComponentBody {
    padding: 0 16px;
    padding: 0 var(--space-lv2);
    margin-bottom: 40px;
    margin-right: auto;
    margin-bottom: var(--space-lv5);
    margin-left: auto
}

.sectionComponentBody, .sectionComponentBody:first-child, .sectionComponentHeading + .sectionComponentBody {
    margin-top: 40px;
    margin-top: var(--space-lv5)
}

.sectionComponentNotice + .sectionComponentBody {
    margin-top: 24px;
    margin-top: var(--space-lv3)
}

@media screen and (min-width: 769px) {
    .sectionComponentBody {
        width: 84.375%;
        max-width: 1080px;
        margin-bottom: 64px;
        padding: 0
    }

    .sectionComponentHeading + .sectionComponentBody {
        margin-top: 56px
    }

    .sectionComponentNotice + .sectionComponentBody {
        margin-top: 40px;
        margin-top: var(--space-lv5)
    }

    .sectionComponentBody:first-child {
        margin-top: 64px
    }
}

.sectionComponentNotice {
    padding: 0 16px;
    padding: 0 var(--space-lv2);
    margin-top: 24px;
    margin-top: var(--space-lv3)
}

@media screen and (min-width: 769px) {
    .sectionComponentNotice {
        margin-top: 32px;
        margin-top: var(--space-lv4);
        text-align: center
    }
}

.iconComponent {
    width: 24px;
    height: 24px;
    color: currentColor
}

.sectionContainer {
    background-color: #f5f6f7;
    background-color: var(--color-background)
}

.sectionContainerHeading {
    color: #fff;
    text-align: center;
    background-color: #092987;
    background-color: var(--color-main);
    padding: 22px 0 18px;
    font-size: 20px;
    line-height: 30px
}

@media screen and (min-width: 769px) {
    .sectionContainerHeading {
        padding: 32px 0 28px
    }
}

.sectionNotice {
    padding: 0 16px;
    padding: 0 var(--space-lv2)
}

@media screen and (min-width: 769px) {
    .sectionNotice {
        text-align: center
    }
}

.description {
    font-size: 14px;
    line-height: 21px
}

.description > span {
    color: #005fcc;
    color: var(--color-sub);
    font-weight: 700
}

.description > .description {
    padding-left: 1rem
}

.inner {
    padding-top: 24px;
    padding-top: var(--space-lv3);
    padding-right: 16px;
    padding-right: var(--space-lv2);
    padding-left: 16px;
    padding-left: var(--space-lv2);
    position: relative
}

.inner:only-child {
    padding-bottom: 40px;
    padding-bottom: var(--space-lv5)
}

@media screen and (min-width: 769px) {
    .inner {
        width: 84.375%;
        max-width: 1080px;
        margin: 0 auto;
        padding-top: 64px;
        padding-left: 0;
        padding-right: 0
    }

    .inner:only-child {
        padding-bottom: 64px
    }
}

.inner + .inner {
    padding-top: 40px
}

@media screen and (min-width: 769px) {
    .inner + .inner {
        padding-top: 64px
    }
}

.icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    display: block
}

.icon > svg {
    width: 100%;
    height: 100%
}

.figure {
    margin-top: 16px;
    margin-top: var(--space-lv2)
}

@media screen and (min-width: 769px) {
    .figure {
        width: 100%;
        max-width: 580px;
        margin-top: 0;
        margin-left: 40px;
        margin-left: var(--space-lv5);
        flex-shrink: 1
    }
}

.offsetElement {
    margin-top: -50px;
    position: absolute
}

@media screen and (min-width: 769px) {
    .offsetElement {
        margin-top: -120px
    }
}

.wrapperComponent {
    padding: 32px 0 40px;
    padding: var(--space-lv4) 0 var(--space-lv5)
}

@media screen and (min-width: 769px) {
    .wrapperComponent {
        max-width: 768px;
        margin: auto;
        padding: 64px 0
    }
}

.containerComponent {
    padding: 32px 16px;
    padding: var(--space-lv4) var(--space-lv2);
    background-color: #fff
}

@media screen and (min-width: 769px) {
    .containerComponent {
        max-width: 768px;
        padding: 40px 32px;
        padding: var(--space-lv5) var(--space-lv4);
        margin: auto
    }
}

.containerComponent:not(:first-child) {
    margin-top: 32px;
    margin-top: var(--space-lv4)
}

@media screen and (min-width: 769px) {
    .containerComponent:not(:first-child) {
        margin-top: 40px;
        margin-top: var(--space-lv5)
    }
}