.contents-body--pt0 {
	padding-top: 0 !important;
}

.faq-mv {
	position: relative;
}

.faq-mv::before {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	content: "";
	width: 100vw;
	height: 100%;
	display: block;
	background: url(bg_faq_mv_pc.png) no-repeat center / cover;
}

.faq-mv__inner {
	position: relative;
	padding: 45px 0 57px 306px;
	color: #ffffff;
}

.faq-mv__heading {
	font-size: 33px;
	letter-spacing: .1em;
	font-weight: 700;
	line-height: 1.42;
}

.faq-mv__heading__sp-br {
	display: none;
}

.faq-mv__text {
	font-size: 16px;
	margin-top: 15px;
	padding-left: 5px;
}

.faq-mv__text a {
	color: #fff000;
	text-decoration: underline;
}

.faq-mv__text a:hover {
	text-decoration: none;
}

.faq-mv__image {
	position: absolute;
	bottom: 0;
	left: 12px;
	width: 300px;
}

.faq-mv__image img {
	display: block;
	width: 100%;
}

.faq-tab {
	margin-top: 44px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}

.faq-tab__heading {
	font-size: 18px;
	font-weight: 700;
	color: #666666;
	letter-spacing: .075em;
	border-bottom: 1px solid #666666;
/*	padding-bottom: 10px;*/
	margin-bottom: 25px;
}

.faq-tab-content {
	display: none;
}

.faq-tab-content.show {
	display: block;
}

.faq-tab-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.faq-tab-list__item {
/*	width: 25%;*/
	width: 24%;
	border-left: 1px solid #666666;
	margin-bottom: 25px;
}

.faq-tab-list__item:nth-child(4n),.faq-tab-list__item:last-child {
	border-right: 1px solid #666666;
}

.faq-tab-list__item:nth-child(4n) {
/*	border-right: 1px solid #666666;*/
	width: 28%;
}

.faq-tab-list__item.is-current button {
	background: #1b5e20;
	color: #ffffff;
}

.faq-tab-list__item button {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .075em;
	padding: 6px 0;
	text-align: center;
	width: 100%;
	cursor: pointer;
	transition: .4s;
}

.faq-tab-list__item button:hover {
	background: #1b5e20;
	color: #ffffff;
}

.faq-tab-content {

}

.faq-item {
	background: #f1f1f1;
	padding: 43px 40px 30px;
	margin-bottom: 25px;
	font-feature-settings: "palt";
}

.faq-item__q {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .11em;
	line-height: 1.5;
	position: relative;
	padding-left: 45px;
	margin-bottom: 23px;
}

.faq-item__a {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .11em;
	line-height: 1.9;
	padding-left: 45px;
	position: relative;
}

.faq-item__a a {
	color: #0088cc;
}

.faq-item__a a:hover {
	text-decoratino: underline;
}

.faq-item__a p:not(:last-child) {
	margin-bottom: 10px;
}

.faq-item__a ol {
	text-indent: -2em;
	padding-left: 2em;
}

.faq-item__a table:not(:last-child) {
	margin-bottom: 10px;
}

.faq-item__a table th {
	text-align: left;
	font-weight: normal;
	padding-right: 10px;
}

.faq-item__a__text {
	
}

.faq-item__a__text span {
	color: red;
}

.faq-item__a__note {
	font-size: 13px;
}

.faq-item__label {
	position: absolute;
/*	top: 0;*/
	left: 0;
	color: #ffffff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.faq-item__label--q {
	top: -2px;
	background: #1b5e20;
}

.faq-item__label--a {
	top: 5px;
	background: #ed8705;
}





@media screen and (max-width: 767px) {

.faq-mv__heading__sp-br {
	display: inline-block;
}

}








body .contents.about .contents-header-group {
	background-image: url("pc-about-top-bg_2022-12-13.jpg");
}
.about-mv-wrapper {
	margin: 158px auto 0px;
	max-width: 1150px;
}
.about-mv-wrapper img {
	display: block;
	width: 100%;
}

body .main-contents.about .top-banner {
	padding:0 ;
	background-image: none;
}
body .main-contents.about .top-banner img{
	display: block;
	width: 100%;
	height: auto;
}

.diamond-mv {background: #2F0408}
.diamond-mv__wrap {
	max-width: 1265px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.diamond-mv__wrap img {
	display: block;
	width: 100%;
}
.diamond-mv__wrap .btn {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 6px 45px 6px 35px;
}
.diamond-mv__wrap .btn::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 16px;
	transform: translateY(-50%) rotate(45deg);
	width: 7px;
	height: 7px;
	border-top: 2px solid #3c3c3c;
	border-right: 2px solid #3c3c3c;
}
.prof-banner {
	margin-top: 20px;
}
.prof-banner img {
	display: block;
	width: 100%;
	height: auto;
}
.top-banner--prof {
	margin-bottom: 20px;
}




.thanks-msg{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding: 40px 0 64px 0;
}
.thanks-msg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	min-width: 900px;
	height: 100%;
	background: #f19d38;
	z-index: -1;
}
.thanks-msg__image{
	position: absolute;
	top: 40px;
	left: 0;
	flex-shrink: 0;
	width: 154px;
	margin-left: 30px;
}
.thanks-msg__image img{
	display: block;
	width: 100%;
}
.thanks-msg__image figcaption{
	display: block;
	padding-left: 5px;
	margin-top: 4px;
	font-size: 14.5px;
	line-height: 1.3;
	font-weight: bold;
}
.thanks-msg__content{
	width: 650px;
	margin: 0 auto;
}
.thanks-msg__head{
	margin-bottom: 10px;
	font-size: 38px;
	color: #FFFFFF;
	text-align: center;
}
.thanks-msg__wrap{

}
.thanks-msg__box{
	padding: 18px 26px;
	background: #FFFFFF;
}
.thanks-msg__list-1{

}
.thanks-msg__list-1 li{
	position: relative;
	padding-left: 1em;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: .1em;
}
.thanks-msg__list-1 li::before{
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #444444;
}
.thanks-msg__list-2{
	margin-top: 18px;
	padding-top: 22px;
	border-top: 1px solid #c5c5c5;
}
.thanks-msg__list-2 li{
	padding-left: 1em;
	text-indent: -1em;
	line-height: 1.6;
	font-size: 14px;
}
.thanks-msg__list-2 li::before{
	content: '・';
}
.thanks-msg__lg-text{
	margin-top: 20px;
	font-size: 25px;
/*	letter-spacing: .1em;*/
	font-weight: bold;
}
.thanks-msg-service{
	margin-top: 56px;
}
.thanks-msg-service__head{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid #666666;
}
.thanks-msg-service__items{
	display: flex;
	flex-wrap: wrap;
}
.thanks-msg-service__item{
	width: calc(100% / 3 - 6px);
}
.thanks-msg-service__item:not(:nth-of-type(3n)){
	margin-right: 9px;
}
.thanks-msg-service__item a{
	display: block;
	width: 100%;
}
.thanks-msg-service__item img{
	display: block;
	width: 100%;
}
.thanks-msg-link{
	margin-top: 35px;
	text-align: center;
}
.thanks-msg-link a{
	font-size: 16px;
	color: #0088cc;
}



.kakunin-flow{
	position: relative;
	padding: 32px 40px 38px 40px;
	background: #f1f1f1;
}
.kakunin-flow__head{
	margin-bottom: 22px;
	padding-bottom: 2px;
	font-size: 22px;
	letter-spacing: .1em;
	font-weight: bold;
	border-bottom: 1px solid #666666;
}
.kakunin-flow__wrap{
}
.kakunin-flow__image{
	position: absolute;
	top: 40px;
	left: 25px;
	width: 198px;
}
.kakunin-flow__image img{
	display: block;
	width: 100%;
}
.kakunin-flow__image figcaption{
	display: block;
	padding-left: 16px;
	margin-top: 10px;
	font-size: 14.5px;
	line-height: 1.3;
	font-weight: bold;
}
.kakunin-flow__main{
	margin-top: 20px;
}
.kakunin-flow__section{
	padding: 20px 24px 22px;
	background: #FFFFFF;
}
.kakunin-flow__section:not(:last-child){
	margin-bottom: 16px;
}
.kakunin-flow__head-2{
	margin-bottom: 6px;
	font-size: 17px;
	color: #1b5e20;
	font-weight: bold;
	
}
.kakunin-flow__text{
	font-size: 16px;
	line-height: 1.875;
}
.kakunin-flow__text span{
	display: block;
	font-size: 14px;
}
.kakunin-flow-list{
	counter-reset: section;
}
.kakunin-flow-list__item{
	position: relative;
	padding-left: 34px;
	font-size: 16px;
}
.kakunin-flow-list__item:not(:last-child){
	margin-bottom: 7px;
}
.kakunin-flow-list__item::before{
	counter-increment: section;
	content: counter(section);
	position: absolute;
	top: 3px;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 25px;
	background: #1b5e20;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 50%;
	font-size: 16px;
	padding-top: 1px;
}



.complete-msg{
	margin-bottom: 30px;
}
.complete-msg  img{
	display: block;
	width: 100%;
}

/*お問い合わせ*/
.contact-intro{
	position: relative;
	margin-bottom: 20px;
}
.contact-intro__bg img{
	display: block;
	width: 100%;
}
.contact-intro__links{

}
.contact-intro__link{
	position: absolute;
	width: 28%;
	left: 66.5%;
}
.contact-intro__link--1{
	top: 15%;
	left: 66.5%;

}
.contact-intro__link--2{
	top: 66%;
	left: 66.5%;
}
.contact-intro__link a{
	display: block;
	width: 100%;
	padding: 18px 10px;
	text-align: center;
	color: #3c3c3c;
	font-weight: bold;
	letter-spacing: .05em;
	font-size: 20px;
	border-radius: 5px;
	background: linear-gradient(180deg,#fbcd86 0%,#faa634 100%);
}
.contact-intro__link a:hover{
	background: #fbcd86;
	text-decoration: none;
}
.section-body .form-footer .attention-group--footer{
	border-top: none;
	margin-top: 0;
}



.underline{
	text-decoration: underline;
}
.policy-intro-wrap{
/*	display: flex;*/
/*	align-items: flex-start;*/
/*	justify-content: space-between;*/
	margin-bottom: 40px;
}
.policy-intro-link{
	position: relative;
	display: inline-block;
/*	width: 370px;*/
	width: auto;
	margin-top: 30px;
	padding: 12px 75px 12px 22px;
	border-radius: 10px;
	border: 1px solid #e1e1e1;
	color: #444;
	font-size: 18px;
	font-weight: 700;
}
.policy-intro-link span{
	display: inline-block;
	vertical-align: middle;
	color: #ffffff;
	background: #c19c46;
	font-size: 12px;
	line-height: 1.2;
	margin-left: 5px;
	padding: 2px 8px;
	border-radius: 5px;
}
.policy-intro-link::before{
	content: "";
	position: absolute;
	top: 50%;
	right: 35px;
	transform: translateY(-50%);
	width: 11px;
	height: 11px;
	border: 2px solid #c19c46;
	margin-top: 3px;
}
.policy-intro-link::after{
	content: "";
	position: absolute;
	top: 50%;
	right: 31px;
	transform: translateY(-50%);
	width: 11px;
	height: 11px;
	border-top: 2px solid #c19c46;
	border-right: 2px solid #c19c46;
	margin-top: -1px;
}
.policy-intro-link:hover{
	text-decoration: none;
	opacity: .7;
}

.joining-groups{
/*	position: relative;*/
/*	top: 200px;*/
}
footer .footer-document dt{
	margin-bottom: 3px;
}
footer .footer-document dd{
	margin-bottom: 30px;
}
.ex-links{
/*	display: flex;*/
	margin-top: 40px;
	margin-bottom: 20px;
}
.ex-links li{
	width: 200px;
/*	float: none !important;*/
	margin-left: 0 !important;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #bfbfbf;
}
.ex-links li:not(:last-child){
	border-right: none;
}
.ex-links li a{
	display: block;
	width: 100%;
}
.ex-links li a img{
	display: block;
	width: 100%;
}
.joining-groups{
	width: 400px;
}
footer .footer-document .joining-groups-body .nihonsyoken-banner{
	height: 91px;
}
.footer-terms p:not(:last-child){
	margin-bottom: 1em;
}
footer .footer-document .joining-groups-body{
/*	margin-bottom: 20px;*/
/*	border: none;*/
/*	padding: 0;*/
	border-width: 1px;
	border-color: #bfbfbf;
	padding: 15px;
}
footer .footer-document .joining-groups-body:not(:last-child){
	border-bottom: none;
}
footer .risk p:not(:last-child){
	margin-bottom: 1em;
}

/* diavip_members */
.support-banner{
	width: 100%;
	max-width: 1140px;
	margin: 16px auto 0;
	border: 1px solid #1b5e20;
}
.support-banner__head{
	font-weight: bold;
	padding: 5px;
	font-size: 18px;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: center;
	background: #1b5e20;
}
.support-banner__items{
	display: flex;
}
.support-banner__item{
	width: 50%;
}
.support-banner__item + .support-banner__item{
	border-left: 1px solid #1b5e20;
}
.support-banner__item a{
	display: block;
}
.support-banner__item img{
	display: block;
	width: 100%;
}

/*20231031追記*/
.main-nav-items{
	display: flex;
	justify-content: flex-end;
}

/*20231107追記*/
.main-nav-items .item > a .gw-icon-consult{
	display: block;
	width: 30px;
	height: 30px;
	margin: -2px auto 2px!important;
	background: url(icon_meigara.png) no-repeat center / contain;
}

.form-footer .attention-group, .form-header .attention-group.attention-group--no-border{
	padding: 0;
	border: none;
}



